<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <add key="PhoneNumber" value="15828267991" />
    <!--账号的手机号码-->
    <add key="AppKey" value="7c35626a975b4212b2283679aeb212ce" />
    <!--AppKey应用的唯一标识-->
    <add key="SecretKey" value="dbab7a4c61f444db4ca95715684ebb7e" />
    <!--安全的密钥,和AppKey一起使用-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="AlarmForm_Save" value="http://122.112.221.34:6688/api/HistorianVer2?value=" />
    <!--报警值修改地址-->
    <add key="QueryHistoryData" value="http://122.112.221.34:6688/api/HistorianDatas" />
    <!--查询历史数据地址-->
    <add key="DataSourceAddress" value="failover:(tcp://122.112.221.34:61616,tcp://122.112.221.34:61616)?initialReconnectDelay=1000&amp;wireFormat.maxInactivityDuration=0" />
    <!--消息中间件地址-->
    <add key="WITSData" value="http://122.112.221.34:6688/api/HistorianReal" />
    <!--WITS数据接收地址-->
    <add key="HistorianTagAS" value="http://122.112.221.34:6688/api/HistorianTagAS" />
    <!--报表属性值查询地址 -->
    <add key="DataSourceID" value="admin" />
    <!--消息中间件用户名-->
    <add key="DataSourcePassWord" value="admin" />
    <!--消息中间件密码-->
    <add key="DrillID" value="1" />
    <!--当前井号ID-->
    <add key="Language" value="CN" />
    <!--当前设定语言-->
    <add key="System" value="gz" />
    <!--当前设定单位制式-->
    <add key="DataShowCnt" value="86400" />
    <!--登陆界面帐户信息-->
    <add key="Account" value="" />
    <!--实时数据页面缓存个数-->
    <add key="ClientIP" value="122.112.221.34" />
    <!--服务器地址 -->
    <add key="ServerIP" value="122.112.221.34" />
    <!--服务器地址 -->
    <add key="ServerPort" value="60002" />
    <!--服务器绑定端口 -->
    <add key="ClientPort" value="60001" />
    <!--客户端绑定端口 -->
    <add key="BHAName" value="A256" />
    <!--钻具管理界面 -->
    <add key="BHALength" value="56.4" />
    <!--钻具管理界面 -->
    <add key="Length" value="9.5" />
    <!--钻具管理界面 -->
    <add key="Comment" value="E-75-2.875°" />
    <!--钻具面测点 -->
    <add key="ToolFaceTag" value="var2,var104,var103,var105,var108,var102,var109" />
    <!--钻具管理界面 -->
    <!--界面订阅-->
    <add key="FormSet" value="DirectionalForm,CirculateForm" />
    <!--早上交班时间 -->
    <add key="DayShift" value="6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--大屏展示相关 -->
    <add key="display2" value="" />
    <add key="display3" value="" />
    <add key="display4" value="" />
    <add key="cycletime" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DrillOSEntities" connectionString="metadata=res://*/Model.DrillOSEntity.csdl|res://*/Model.DrillOSEntity.ssdl|res://*/Model.DrillOSEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.112.221.34;initial catalog=DrillOS;persist security info=True;user id=sa;password=HHdq12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DrillOSEntities" connectionString="metadata=res://*/Model.DrillOSEntity.csdl|res://*/Model.DrillOSEntity.ssdl|res://*/Model.DrillOSEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=221.236.173.25;initial catalog=DrillOS;persist security info=True;user id=sa;password=Ruijo.com07;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.2.613.40" newVersion="2017.2.613.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.2.613.40" newVersion="2017.2.613.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikCommon" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.2.613.40" newVersion="2017.2.613.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--<connectionStrings><add name="DrillOSEntities" connectionString="metadata=res://*/Model.DrillOSEntity.csdl|res://*/Model.DrillOSEntity.ssdl|res://*/Model.DrillOSEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.31.161;initial catalog=DrillOS;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>-->
